
.commentWrap {
  display: flex;
  padding: 8px;
  word-wrap:break-word;
  word-break:break-all;
  border-bottom:1px dashed rgba(0, 0, 0, 0.18);
}

.commentAvatar {
  margin: 5px;
}

.commentAuthor {
  font-weight: bold;
}

.commentContent {
  padding: 5px;
  font-size: 15px;
}

.commentTime {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
  font-weight: 500;
}

.commentTime a {
  color: #cc9393;
  margin-left: 5px;
}

.showBackgroundColor {
  background-color: antiquewhite;
}

.mentionDiv {
  display: flex;
  align-items: flex-end;
}

.mention {
  width: 80%;
  height: 100px;
  margin-right: 10px;
}

.page {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
}
